/* PC */
@media screen and (min-width: 992px) {
    .header-table {
        display: none;
    }

    .list .show-on-mobile {
        display: none;
    }
}

/* Table and Mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar .list {
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar .toggle-menu {
        display: block;
        border: none;
        background: none;
        outline: none;
        font-size: 2.4rem;
        color: var(--primary-color);
    }

    .overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 1;
        visibility: hidden;
        transition: 0.3s linear;
    }

    .menu-checkbox:checked ~ .overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.3s linear;
        padding: 40px;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer .close {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        outline: none;
        font-size: 2.4rem;
        color: var(--primary-color);
    }

    .menu-drawer .logo {
        display: block;
        margin-top: 24px;
    }

    .menu-drawer .list a {
        display: block;
        padding: 12px 0;
        color: #4f5361;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .menu-drawer .list li:first-child {
        margin-top: 30px;
    }

    .hero .hero-content {
        width: 100%;
        text-align: center;
    }

    .hero .heading {
        width: 90%;
        font-size: 5.4rem;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .desc {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .cta-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .hero .hero-img {
        display: none;
    }

    .brands {
        flex-wrap: wrap;
        justify-content: center;
    }

    .brands .brand-img {
        padding: 20px 40px;
    }

    .work {
        padding-top: 49px;
    }

    .features .feature-row {
        flex-direction: column;
    }

    .features .image {
        margin-top: 80px;
        width: 100%;
        order: 2;
    }

    .features .image .feature-img {
        display: block;
        margin-left: auto;
    }

    .features .content {
        width: 100%;
        order: 1;
        margin-left: 0;
    }

    .features .desc,
    .features .heading {
        width: 90%;
    }

    .stats .item:first-child {
        margin-left: 0;
    }

    .subscribe .app {
        display: none;
    }
}

/* Table */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .list .show-on-mobile {
        display: none;
    }

    .work .list {
        gap: 120px;
    }

    .featured .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .features .image .feature-img {
        width: 60%;
    }

    .footer .footer-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .navbar .action {
        display: none;
    }

    .menu-drawer {
        inset: 0 0 0 0;
    }

    .menu-drawer .list .hide-on-tablet {
        color: var(--primary-color);
        font-size: 1.6rem;
        font-weight: 600;
    }

    .menu-drawer .separate {
        border-top: 1px solid #ebebeb;
    }

    .stars .desc {
        display: none;
    }

    .work .list {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .featured .list {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured .feature-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .features .image .feature-img {
        width: 100%;
    }

    .stats {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .stats .quantity {
        font-size: 5.4rem;
    }

    .stats .stat-desc {
        text-align: center;
    }

    .subscribe .content {
        padding: 32px;
    }

    .footer .footer-row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
